body {
    background: teal;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.img-box {
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    background: white;

}

.img-box:hover {
    background-color: orange;
    transform: scale(1.02);
    transition: all 0.1s ease-out;
}

.img-box p {
    font-family: 'Arial', sans-serif;
    text-decoration: none;
    font-weight: bold;
    color: black;
}



button,
#button-file,
.input {
    border: 10px solid white;
    border-radius: 20px;
    padding: 1rem;
    background: transparent;
    color: white;
}

button,
#button-file {
    cursor: pointer;
}

.main-img {
    width: 360px;
    height: 270px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

#more {
    display: block;
}

#modal-img {
    width: 480px;
    height: 360px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-top: 10px;
}

#modal{
    background: black;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

#modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(100, 100, 100, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#comment-box {
    position: relative;
    background: black;
    color: white;

}

#existing-comments {
    height: 300px;
    overflow-y: scroll;
}
